<!DOCTYPE html>
<%@ Master Language="C#" %>
<%@ Register tagprefix="SharePoint" namespace="Microsoft.SharePoint.WebControls" assembly="Microsoft.SharePoint, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<html lang="en">
    <!--
          ____            _                _    ____  
         / ___| ___ _ __ (_)_   _ ___     / \  / ___| 
        | |  _ / _ \ '_ \| | | | / __|   / _ \ \___ \ 
        | |_| |  __/ | | | | |_| \__ \  / ___ \ ___) |
         \____|\___|_| |_|_|\__,_|___/ /_/   \_\____/ 

          www.itsgenius.no
        -->
    <head>
        <meta charset="utf-8">
        <title>Genius AS - SharePoint Online wizardry</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <SharePoint:RobotsMetaTag ID="RobotsMetaTag1" runat="server"></SharePoint:RobotsMetaTag>

        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alike">
        <link rel="stylesheet" href="css/style.css">
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"> </script>
        <![endif]-->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-33400470-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div class="container">
            <header id="intro">
                <div class="logo"></div>
                <h1>It's Genius! SharePoint Online solutions</h1>
                <p class="lead">We create and design simple elegant and genius solutions for <a href="http://www.microsoft.com/nb-no/office365/sharepoint-online.aspx">SharePoint Online</a>.</p>
            </header>

            <asp:ContentPlaceHolder id="PlaceHolderMain" runat="server" />

            <footer class="footer">
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>Designed and built by Genius AS</p>
                <p>Hosted on <a href="http://www.microsoft.com/nb-no/office365/sharepoint-online.aspx">SharePoint Online</a></p>
            </footer>
        </div>
    </body>
</html>