<!DOCTYPE html>
<%@ Master Language="C#" %>
<%@ Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Assembly Name="Microsoft.Web.CommandUI, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>

<html lang="en">
    <asp:ContentPlaceHolder id="PlaceHolderAbout" runat="server"/>
    <head>
        <meta charset="utf-8">
        <title>
            <asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server" />
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <SharePoint:RobotsMetaTag ID="RobotsMetaTag1" runat="server"></SharePoint:RobotsMetaTag>

        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alike">
        <link rel="stylesheet" href="http://ivaynberg.github.com/select2/select2-2.1/select2.css" />
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"> </script>
        <![endif]-->
        <asp:ContentPlaceHolder id="PlaceHolderAdditionalStyles" runat="server"/>
        <SharePoint:DelegateControl ID="AdditionalStyles" runat="server" ControlId="AdditionalStyles" AllowMultipleControls="true"/>
    </head>
    <body>
        <asp:ContentPlaceHolder id="PlaceHolderMain" runat="server" />
        <asp:Panel runat="server" Visible="FALSE">
            <WebPartPages:SPWebPartManager id="m" runat="Server"/>
            <asp:ContentPlaceHolder id="PlaceHolderLeftActions" runat="server" />
            <asp:ContentPlaceHolder id="PlaceHolderPageImage" runat="server" />
            <asp:ContentPlaceHolder id="PlaceHolderPageDescription" runat="server" />
            <asp:ContentPlaceHolder id="PlaceHolderTitleAreaClass" runat="server" />
            <asp:ContentPlaceHolder id="PlaceHolderSearchArea" runat="server" />
            <asp:ContentPlaceHolder id="PlaceHolderPageTitleInTitleArea" runat="server" />
            <asp:ContentPlaceHolder id="PlaceHolderBodyAreaClass" runat="server" />
        </asp:Panel>
        <script src="http://code.jquery.com/jquery.min.js"> </script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"> </script>
        <script src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"> </script>
        <script src="http://ivaynberg.github.com/select2/select2-2.1/select2.js"> </script>
        <asp:ContentPlaceHolder id="PlaceHolderAdditionalScripts" runat="server"/>
        <SharePoint:DelegateControl ID="AdditionalScripts" runat="server" ControlId="AdditionalScripts" AllowMultipleControls="true"/>
    </body>
</html>