body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

section {
    padding-top: 30px;
}

.navbar-fixed-top {
    left: 15%;
    right: 15%;
}

.navbar-fixed-top .navbar-inner {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    border-width: 0 1px 1px;
}

.download {
    background-image: url(../img/download.png);
    display: block;
    width: 110px;
    height: 110px;
    background-size: 110px;
}

a:hover .download {
    transition: background-position 0.1s;
    -moz-transition: background-position 0.1s;
    -webkit-transition: background-position 0.1s;
    -o-transition: background-position 0.1s;
    background-position: 0px 5px;
}

.github {
    background-image: url(https://raw.github.com/github/media/master/octocats/octocat.png);
}

dd { line-height: 20px; }

.light { font-weight: 300; }

#demo select { width: 90%; }