<!DOCTYPE html>
<%@ Master Language="C#" %>
<%@ Register tagprefix="SharePoint" namespace="Microsoft.SharePoint.WebControls" assembly="Microsoft.SharePoint, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Genius AS - SharePoint Online wizardry</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <SharePoint:RobotsMetaTag ID="RobotsMetaTag1" runat="server"></SharePoint:RobotsMetaTag>

        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"> </script>
        <![endif]-->

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-33400470-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div class="container">
            <header id="intro">
                <h1>It's Genius! SharePoint Online solutions</h1>
                <p class="lead">We create and design simple and elegant solutions for <a href="http://www.microsoft.com/nb-no/office365/sharepoint-online.aspx">SharePoint Online</a>.</p>
            </header>
  
            <section id="solutions">
                <div class="page-header">
                    <h1>Solutions <small>Components, plugins and Web Parts for SharePoint Online</small></h1>
                </div>

                <div class="row">
                    <div class="span6">
                        <h2>Enhancements</h2>
                        <p>Solutions which makes your SharePoint Online easier to use, and improves productivity</p>
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/260x180" alt="">
                                    <div class="caption">
                                        <h5>EnhancedLookup</h5>
                                        <p>Tired of finding items in the default lookup?</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>